/*font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

*,
*.before,
*.after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 1171px;
    margin: 0 auto;
}

.main {
    background-image: url(Img/2.jpg);
    height: 725px;
    max-width: 1920px;
    margin: 0 auto;

}

.header {
    max-width: 1920px;
    height: 83px;
    background-color: #000000;
    opacity: 0.6;
    margin-top: 13px;
}

.header_inner {
    display: flex;
    align-items: center;
}


.header_title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 22.36px;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 5px;


}

.header_subtitle {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.36px;
    text-transform: uppercase;
    letter-spacing: 29.00px;
    margin: 0;
    padding-bottom: 18px;

}

.phone_icon {
    margin-left: 150px;
}

.email_icon {
    margin-left: 35px;
}

.phone_num {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    margin-left: 12px;
    text-decoration: none;
}

.phone_num:hover {
    text-decoration: underline;
}

.mail {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    margin-left: 12px;
    text-decoration: none;
}

.mail:hover {
    text-decoration: underline;
}

table {
    margin-left: 90px;
    border-collapse: collapse;
}

.search {
    border: 1px solid #fff;
}

th {
    border: 1px solid #fff;
}

.th_1 {
    width: 157px;
    height: 38px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
}

.th_2 {
    width: 50px;
    height: 38px;
}

.main_suptitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.18px;
    text-align: center;
    margin-top: 165px;
    text-shadow: black 0 0 2px;
}

.main_title {
    font-family: Poppins;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 64px;
    text-shadow: black 0 0 2px;
}

.main_suptitle::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    width: 80px;
    margin: 0 auto;


}

.menu_item {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
}

.menu_item:hover {
    color: #fff;
    text-shadow: black 0 0 2px;
}

.menu_item:hover:after {
    display: block;
}

.menu {
    text-align: center;
    margin-top: 35px;
    padding-bottom: 29px;
    border-bottom: 1px solid #000;
}

.menu_item:after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 50px;
    left: 9px;
    z-index: 1;
    display: none;
}


/*==================Social===============*/

.social {
    text-align: center;
}

.social_link {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 8px 13px;
    margin: 5px;
}

.social_link_fb {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 8px 16px;
    margin: 5px;
}

.social_link:hover {
    border: 2px solid #000;
    color: #000;
}

.social_link_fb:hover {
    border: 2px solid #000;
    color: #000;
}





/*==================About us===============*/

.about_us {
    margin: 81px auto;
    text-align: center;
}

.about_us_content {
    width: 50%;
    float: left;
    padding-right: 33px;
    max-width: 398px;
}

.About_us_title {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.About_us_text {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.12px;
}

.About_us_title {
    margin-top: 14px;
}

/*==================Services===============*/

.Services {
    background-color: #f7f7f7;

}

.Services_title {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 90px;
}

.service_title {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 18px;
}

.service_title_link {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
    text-decoration: none;

}

.service_text {
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    max-width: 282px;
    margin-top: 0;
    margin-bottom: 0;
}

/*==================Service_modul===============*/

.sevises_modul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.service_title_text {
    padding-top: 0;
}

.circle {
    padding: 43px 55px;
    border: 2px solid #acacac;
    border-radius: 50%;
    background-color: #e1e1e1;
    font-size: 40px;
    color: #666666;
}

.circle:hover {
    background-color: #f44336;
}

.service_title_link:hover {
    color: #f44336;
    text-decoration: underline;
}


/*==================gallery===============*/
.gallery {
    margin-bottom: 168px;
}

.gallery_pics {
    display: flex;
    justify-content: space-between;
}

.pic_field {
    height: 480px;
    width: 270px;
    background-color: #f7f7f7;
    position: relative;
    z-index: 200;
}

.gallery_item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.gallery_unit {
    max-width: 271px;
    margin-right: 30px;

}

.gallery_unit_title {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.94px;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    position: absolute;
    top: 380px;
    right: 50px;
}

.gal_btn {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    position: absolute;
    top: 438px;
    right: 73px;
    text-align: center;
}

.gal_btn:hover {
    background-color: #000;
}



.gal_btn_link {
    /*vertical-align: -webkit-baseline-middle;*/
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.14px;
    z-index: 200;
    text-decoration: none;
    color: #ffffff;

}

/*==================Testimonial===============*/

.Testimonial {
    background-image: url(Img/3.jpg);
    max-width: 1920px;
    height: 537px;
    margin: 0 auto;
}

.Testimonial_title {
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    padding-top: 85px;
}

.quote {

    text-align: center;
    color: #fff;
    font-size: 48px;
}

.testimonial_text {
    padding-top: 45px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    max-width: 935px;
    text-align: center;
    margin: 0 auto;
}

.JOHN {
    padding-top: 30px;
    font-family: "Roboto Condensed Light";
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.SMITH {
    font-family: Poppins;
    font-weight: 700;
}


/*==================News===============*/

.news {
    display: block;

}

.news_title {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.new_ivent {
    border-radius: 49px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    display: inline-block;
    padding: 23px 34px 41px 36px;
    margin-left: 21px;
}

.new_ivent:hover {
    background-color: #f44336;
}

.date {
    color: #000000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.month_year {
    color: #9e9e9e;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.month_year italic {
    color: #9e9e9e;
    font-family: "Poppins - Medium Italic";
    font-size: 13px;
    font-weight: 400;
    line-height: 48px;
}

.new_ivent_content_title {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
}

.new_ivent_content_text {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    max-width: 308px;
}

.latest_news {
    margin-bottom: 49px;

}

.new_ivent_content {
    float: right;
    margin-right: 80px;
    padding-top: 15px;
    padding-left: 66px;
}

.events {}

/*==================Featured===============*/

.Featured {}

.featured_title_text {
    padding-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
}

.news_content {
    display: flex;
    justify-content: space-between;
}

.featured_title {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.geatured_galery {
    padding-top: 25px;
}

/*================Accordion=================*/


.accordion_text {
    max-width: 534px;
}

.accordion_title {
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
}

.accordion_text {
    color: #505050;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-size: 12px;
}

/*================Team=================*/

.team {
    background-color: #f7f7f7;
    min-height: 785px;
}

.team_title {
    color: #f44336;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding-top: 98px;
    padding-bottom: 61px;
}


.team_pics {
    display: flex;
    justify-content: space-between;
}

.team_pic_field {
    height: 405px;
    width: 270px;
    position: relative;
    z-index: 200;
}


.team_item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.team_unit {
    max-width: 271px;
    margin-right: 30px;
}

.team_unit_title {
    color: #f44336;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    position: absolute;
    top: 380px;
}

.team_unit_text {
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 0;
    top: 420px;
}

.team_social {
    position: absolute;
    top: 480px;
    margin-bottom: 87px;
}

.team_social_link {
    color: #000;
    border: 1px solid #000;
    padding: 1px 4px;
    margin-right: 17px;
}

.team_social_link:hover {
    background-color: #000;
    color: #fff;
}

/*================Subscribe=================*/

.Subscribe {
    background-image: url(Img/Layers_1.jpg);
    height: 313px;

}

.Subscribe_title {
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    padding-top: 86px;
}

.Subscribe_form {
    text-align: center;
}

.Subscribe_email {
    width: 499px;
    height: 55px;
    color: #8e8e8e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    border: none;
    padding-left: 30px;
}

.Subscribe_submit {
    width: 120px;
    height: 55px;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    border: none;
}

.Subscribe_submit:active {
    background-color: #000;
    color: #f44336;
}

/*================Contacts=================*/

.contacts_content {
    display: flex;
    justify-content: space-between;
    max-width: 971px;
    margin: 0 auto;
}

.contacts_title {
    color: #f44336;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.in_touch {
    margin-top: 23px;
}

.in_touch_title {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
}

.in_touch_text {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    width: 386px;
}

.contacts_name {
    width: 470px;
    height: 42px;
    margin-bottom: 21px;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    padding-left: 16px;
}

.contacts_email {
    width: 470px;
    height: 42px;
    margin-bottom: 21px;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    padding-left: 16px;
}

.contacts_textarea {
    width: 470px;
    height: 168px;
    resize: none;
    padding: 1px;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    padding-left: 16px;
    padding-bottom: 123px;

}

.email_in_touch {
    color: #f44336;
}

.contacts_form {}

.contacts_submit {
    margin-top: 19px;
    padding: 11px 47px;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.contacts_submit:active {
    background-color: #000;
    color: #f44336;
}

/*================Map=================*/

.map_title {
    color: #f44336;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.map_pic {
    margin-bottom: 90px;
}

/*================footer=================*/

.footer {
    height: 71px;
    margin: 0 auto;
    background-color: #000;
}


.footer_text {
    color: #ffffff;
    font-family: "Arial Narrow";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    text-align: center;
    padding-top: 29px;

}


/*=================================*/
/*================Product=================*/
/*=================================*/

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/*================Product gallery=================*/

.product_gallery {
    margin-top: 254px;
}


.gallery_pics {
    margin-bottom: 100px;
}
